/* 
CSS Developed by
Anuraag Muktevi - 1002031996
*/
/* Reset default margin and padding for the body element */
body {
    margin: 0;
    padding: 0;
  }
  
  #landing-page {
    position: relative;
  }
  
  #landing-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  #intro-div {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    background-color: rgba(2, 95, 168, 0.75); 
    color: white; 
    padding: 3% 10% 3% 3%;
}

#intro-content {
    top: 0;
    left: 0;
}

#login-button {
    text-align: center;
    color: white;
    padding: 0% 10%;
    background-color: rgb(206, 75, 18);
    border: none;
}

/* Start for style for the images with text in the about section */

#about {
    margin: 2%;
}

.image-group {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.about-images {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.image-with-text {
    padding: 0% 3% 0% 3%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 5% 0% 5% 0%;
}

.image-text {
    display: flex;
    width: 70%;
    height: 100%;
    position: absolute;
    background-color: rgba(2, 95, 168, 0.7); 
    color: white; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-content {
    padding: 5%;
}

#image3 {
    width: 50%;
    height: auto;
}

#text3 {
    width: 50%;
    height: 100%;
}

#group3 {
    justify-content: left;
    margin-left: 5%;
}

#content3 {
    padding: 1%;
    justify-content: left;
    text-align: left;
}
/* End for style for the images with text in the about section */

.contact {
    position: relative;
}

#footbar {
    background-color: #025FA8;
    padding: 10px;
    text-align: center;
    color: white;
}

#footbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#footbar li {
    flex: 1;
    text-align: center;
    color: white;
}

#footbar img#uta-a {
    width: 25%;
    height: auto; 
}

#social-media {
    padding: 0% 35% 0% 35%;
    display: flex;
    justify-content: space-between;
}