/* Rakesh kasula(1002060973)
Anudeep Kolluri(1002116426)
Pramodhini Sai Maddukuri(1002067079)
Anuraag Muktevi(1002031996)
Yasasvi Nellore(1002069217) */
#qa-dashboard-page {
    margin: 5%;
}
table {
    width: 100%; 
    table-layout: fixed; 
    margin-top: 7%;
}

td {
    width: 25%; 
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 5%; 
    box-sizing: border-box; 
    padding-left: 0;
}

a {
    text-decoration: none;
    color: black;
}