#grade-page {
    margin: 5%;
}

.card {
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    /* text-align: center; */
    height: 50vh;
    display: flex;
    justify-content: center;
}


.column {
    flex: 1;
    justify-content: center;
    text-align: center;
}

/* .column h2 {
    text-align: right;
} */

.pie-chart {
    width: 45%;
    height:65%;
    border-radius: 50%;
    background-image: conic-gradient(
        green 0% 75%, 
        red 75% 100%
    );
    margin: 0 auto;
}

.color-legend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 1%;
}

.legend-color {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin-right: 1%;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.legend-label {
    font-size: 16px;
}

#line-img {
    max-width: 80%;
    height: auto;
}
