body {
    margin:0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    line-height: 1.8;
}

.orange-button {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 20%;
    background-color: rgb(206, 75, 18);
    border: none;
}

.orange-button:hover {
    cursor: pointer;
}

/* Navbar CSS Start */
  /* Style from https://www.w3schools.com/css/css_navbar_horizontal.asp */
  
  #navbar {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 95, 168); 
    align-items: center;
}
  
#navbar li {
    float: left;
}
  
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
  
#navbar li a:hover:not(.active) {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#uta-logo {
    width: 40%;
    height: auto;
}

/* Navbar CSS End */

/* Button group css start */

.button-group {
    display: flex;
    max-width: 80%;
    margin-bottom: 3%;
}

.button {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #e0e0e0;
    color: #000000;
    border: none;
    cursor: pointer;
    border: 2px solid white;
}

button:hover {
    background-color: #cdcdcd;
}

.button:not(:last-child) {
    border-right: 1px solid #ddd;
}

.button:last-child {
    border-right: none;
}

/* Button group css end */