#profile-page {
    margin: 5%;
}

.card {
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    text-align: center;
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

.input-group {
    flex: 1;
    text-align: left;
    margin: 2%;
}

label {
    display: block;
    margin-bottom: 2%;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 1% 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-button {
    background-color: rgb(205, 75, 18);
    color: white;
    margin-right: 4%;
}

.cancel-button {
    background-color: rgba(205, 75, 18, 0);
    border: 2px solid rgb(205, 75, 18);
    color: rgb(205, 75, 18);
    margin-right: 4%;
}